.navigation{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.logoBox{
    height: 200px;
    width: 150px;
    padding-right: 5px;
    //padding-bottom: 25px; 
    justify-content: flex-start;
    
}
.navigationlinkContainer{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .navigationlinks {
            padding: 10px 15px;
             cursor: pointer;
        }
}
