.navigation{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.logoBox{
    height: 100%;
    width: 70px;
    padding-right: 5px;
    padding-bottom: 5px; 
    padding-top: 10px;
    display: flex;
}

.signIn-link{
        padding-right: 15px;
        padding-bottom: 5px;
        padding-top: 30px;
        display: flex;
}