
.search-bar {
    padding-top: 15px;
    margin: 2rem 0;
    height: 100px;
    justify-content: center;
    width: 400px;
    color: #10364d;
}

.search-bar input {
    padding: 10px;
    width: 100%;
    max-width: 400px;
    border: 1px solid #10364d;
    border-radius: 4px;
    font-size: 16px;
    background-color: transparent;
    color: #10364d;
}

::placeholder{
    color: #10364d;
}

.search-bar button{
    font-size: 16px;
    background-color: transparent;
    border: 2px solid #10364d;
    border-radius: 4px;
    
}
.search-bar button:hover {

    box-shadow: 1px 1px 3px #10364d;
}
.search-bar input:focus {
    outline: none;
    border-color: #10364d;
    box-shadow: 0 0 3px rgba(0, 123, 255, 0.5);
}

.product-list{
    position: absolute;
    width: 240px;
    height: 340px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    padding: 20px;
    border: 1px solid black;
    background-color: white;
    overflow-y: auto;
    z-index: 2;
    :hover{
        background-color: white;
    }

}

