body {
  margin: 0;
  font-weight: bold;

  font-family: 'Courier New', Courier, monospace;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 10px 20px;
background: linear-gradient(to left,
      rgb(172, 123, 105) 0%,
      rgb(113, 191, 239) 100%);
  text-align: center; 
}
  

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

